* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#cabecalho {
    width: 100%;
    height: 25%;
    position: relative;
}

#banner {
    width: 100%;
    height: 100%;
}

#redes-sociais {
    width: 21%;
    height: 35%;
    position: absolute;
    right: 10px;
    top: 10px;
}

#facebook, #instagran, #twitter {
    width: 33.33%;
    height: 100%;
    float: left;
}

#menu {
    width: 100%;
    height: 10%;
}

#corpo {
    width: 100%;
    height: 50%;
    position: relative;
}

#conteudo {
    width: 50%;
    height: 90%;
    padding: 15px;
}

#foto {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 15px;
    right: 15px;
}

#rodape {
    width: 100%;
    height: 15%;
}

#facebook img, #twitter img, #instagran img {
    width: 100%;
    height: 100%;
}

#banner img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

a, a:visited {
    text-decoration: none;
    font-family: 'comic sans ms';
    font-size: 16pt;
    font-weight: bold;
    color: fuchsia;
    margin: 0px 20px;
    padding: 20px 0px;
}

ul {
    text-align: center;
    position: relative;
    top: 25px;
}

li {
    display: inline; 
}

#foto img {
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
    padding-top: 20px;
}

#formulario {
    width: 200px;
    margin: auto;
}